.home {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 4.5rem;
}

.desc {
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px;
  font-size: 1rem;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button:first-child {
  background-color: var(--btn);
  color: var(--text);
}

.brands {
  position: relative;
  width: 500px;
  height: 50px;
  filter: grayscale(1);
}

.imgContainer {
  flex: 1;
  position: relative;
}

@media (max-width: 1024px) {
  .home {
    flex-direction: column;
    text-align: center;
  }

  .imgContainer {
    display: none;
  }

  .buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }

  .brands {
    width: 100%;
  }
}
