.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
